body {
  padding-top: 20px;
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-family: "Bungee Shade", cursive;

  color: #45171d;
  font-size: 35px;
}

h2 {
  margin: 5px 0;
  font-size: small;
  color: gray;
}

.temperature-today {
  font-size: 40px;
  padding-bottom: 30px;
}
.sun {
  font-size: 50px;
  color: #fda403;
}

.image {
  font-size: 20px;
}

.fa-cloud-sun,
.fa-cloud-sun-rain {
  color: #2772db;
}
.weekdays {
  font-size: 15px;
  font-family: "Secular One", sans-serif;
}

.input {
  border-radius: 5px;
}

.li {
  list-style: none;
}
